<?xml version="1.0" ?>
<robot name="sawback"
  xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="gazebo" default="false"/>
  <xacro:arg name="electric_gripper" default="true"/>
  <xacro:arg name="pedestal" default="false"/>
  <xacro:arg name="static" default="false"/>
  <xacro:arg name="px100" default="false"/>

  <!-- Ridgeback -->
  <xacro:include filename="$(find manipulator_description)/urdf/nuridgeback.urdf.xacro"/>

  <!-- Sawyer -->
  <xacro:include filename="$(find manipulator_description)/urdf/sawyer.urdf.xacro">
    <xacro:arg name="gazebo" value="${gazebo}"/>
    <xacro:arg name="pedestal" value="${pedestal}"/>
    <xacro:arg name="static" value="${static}"/>
    <xacro:arg name="electric_gripper" value="${electric_gripper}"/>
  </xacro:include>

  <!-- joint between ridgeback and sawyer robots -->
  <joint name="sawyer_base_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.0 0.0 0.0099"/>
    <parent link="mount_link"/>
    <child link="base"/>
  </joint>

  <xacro:if value="$(arg px100)">
    <xacro:include filename="$(find interbotix_xsarm_descriptions)/urdf/px100.urdf.xacro"/>
    <joint name="joint_base_to_px100" type="fixed">
      <parent link="mid_mount"/>
      <child link="px100/base_link"/>
      <origin xyz="0.140 -0.3365 0.008" rpy="0.0 0.0 0.0"/>
    </joint>
  </xacro:if>
</robot>
